/* coin_calculator - style sheet. */

/* General styling. */

* {
    box-sizing: border-box;
}

#overall {
    height: 95vh;
}

body {
    max-width: 500px;
}

/* Styling for title. */
h3 {
    text-align: center;
}

/* Styling for coin denominations and quantities. */
#coins-div {
    width: 100%;
    height: 65vh;
}

.coin-div {
    width: 50%;
    height: 30vh;
    display: inline-block;
    position: relative;
}

.coin-circle {
    width: 20vh;
    height: 20vh;
    border: 1px solid black;
    background-color: gold;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coin-circle .coin-input {
    width: 2.5em;
    height: 2em;
    font-size: 200%;
    text-align: right;
    background-color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    border: none;
}

.quantity-circle {
    width: 9vh;
    height: 9vh;
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 2vh;
    right: 10%;
}

.quantity-circle .quantity-display {
    width: 50%;
    height: 1.5em;
    font-size: 150%;
    background-color: inherit;
    position: relative;
    margin: 3vh 20%;
    color: white;
    border: none;
}

/* Styling for change required input. */
#total-input {
    width: 80%;
    margin-left: 10%;
    height: 2em;
    font-size: 200%;
    text-align: right;
}

/* Styling for calculate button. */
#calculate-button {
    width: 80%;
    margin-left: 10%;
}

/* Overrides for mobile. */
@media screen and (max-width: 767px) {

    .quantity-circle .quantity-display {
        height: 1em;
        font-size: 100%;
        margin: 1.7vh 15%;
    }
}
